/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../../../usr/local/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../usr/local/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../usr/local/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../usr/local/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../usr/local/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../usr/local/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../usr/local/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../usr/local/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../usr/local/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* --------------------------
  Main Styles
--------------------------- */
/* line 12, ../sass/screen.scss */
.main-header,
.nav {
  display: flex;
  flex-direction: column;
}

/* line 18, ../sass/screen.scss */
.site-logo {
  width: 110px;
  align-self: center;
}

/* line 23, ../sass/screen.scss */
.nav {
  margin-top: 1.5em;
}

/* line 27, ../sass/screen.scss */
.nav a {
  display: block;
  color: #797e83;
  font-size: 1.125em;
  font-weight: 300;
  text-align: center;
  padding: .4em;
  border-bottom: 1px solid #ebecec;
}

/* line 37, ../sass/screen.scss */
.nav a:hover {
  color: #0b0b0b;
  border-bottom-color: #52bab3;
}

/* line 43, ../sass/screen.scss */
.site-logo img {
  height: 8em;
}

/* line 48, ../sass/screen.scss */
.books {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

/* --------------------------
  Media Queries
--------------------------- */
@media (min-width: 769px) {
  /* line 59, ../sass/screen.scss */
  .main-header {
    height: 200px;
    justify-content: flex-end;
  }

  /* line 63, ../sass/screen.scss */
  .site-logo {
    width: 140px;
  }

  /* line 66, ../sass/screen.scss */
  .nav {
    margin-top: 3em;
    flex-direction: row;
    justify-content: space-between;
  }

  /* line 71, ../sass/screen.scss */
  .nav a {
    border-bottom-color: transparent;
  }
}
@media (min-width: 1025px) {
  /* line 77, ../sass/screen.scss */
  .main-header {
    flex-direction: row;
  }

  /* line 80, ../sass/screen.scss */
  .site-logo {
    margin-right: auto;
  }

  /* line 83, ../sass/screen.scss */
  .nav {
    margin-top: 0;
    align-self: center;
  }

  /* line 87, ../sass/screen.scss */
  .nav li {
    margin-left: .65em;
    margin-right: .65em;
  }
}
